
{% extends "layout.twig" %}

{% block content %}


            <div id="itemlist">
                    {% for item in items %}

                <div id="item_1" class="item">
                    <div class="itemname">{{item.name}}</div>
                    <div class="itemcount">
                     Price:&nbsp;<h1>{{item.price}}</h1>
                    </div>
                </div>
                 {% endfor %}

                
                </div>
            </div>
            <div id="itemlistfooter">
            </div>

{% endblock %}