
{% extends "layout.twig" %}

{% block content %}

<div id="container">
            <div id="itemlistheader">
            Type of dish
            </div>
            <div id="itemlist">
                <div id="item_1" class="item">
                    <div class="itemname">Non veg</div>
                    <div class="itemcount">
                     Total item:&nbsp;<h1>25</h1>
                    </div>
                </div>
                <div id="item_1" class="item">
                    <div class="itemname">Soups</div>
                    <div class="itemcount">
                     Total item:&nbsp;<h1>25</h1>
                    </div>
                </div>
                <div id="item_1" class="item">
                    <span class="itemname">Snaks</span>
                    <div class="itemcount">
                     Total item:&nbsp;<h1>25</h1>
                    </div>
                </div>
                <div id="item_1" class="item">
                    <span class="itemname">Starter Veg</span>
                    <div class="itemcount">
                     Total item:&nbsp;<h1>25</h1>
                    </div>
                </div>
                <div id="item_1" class="item">
                    <span class="itemname">Fried Rice/Noodles</span>
                    <div class="itemcount">
                     Total item:&nbsp;<h1>25</h1>
                    </div>
                </div>
                <div id="item_1" class="item">
                    <span class="itemname">Meals</span>
                    <div class="itemcount">
                     Total item:&nbsp;<h1>25</h1>
                    </div>
                </div>
                <div id="item_1" class="item">
                    <span class="itemname">Colddrik </span>
                    <div class="itemcount">
                     Total item:&nbsp;<h1>25</h1>
                    </div>
                </div>
                <div id="item_1" class="item">
                    <span class="itemname">Biriyani </span>
                    <div class="itemcount">
                     Total item:&nbsp;<h1>25</h1>
                    </div>
                </div>
            </div>
            <div id="itemlistfooter">
            Type of dish
            </div>
        </div>



{% endblock %}